@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html,
body {
    font-family: Poppins, sans-serif;
    background-color: #f5f5f5;
    width: 100%;
}
header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 5%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    .clock {
        position: absolute;
        right: 15px;
        top: 10px;
        font-size: 1rem;
        font-weight: 500;
        color: #333;
    }
    .count {
        font-size: 1.5rem;
        font-weight: 600;
        color: #333;
        background-color: rgba(39, 205, 211, 0.719);
        border-radius: 50%;
        padding: 2rem;
        box-shadow:
            rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
            rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .container {
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: center;
        .name {
            font-size: 1.5rem;
            font-weight: 600;
            color: #333;
        }
        .progresbar {
            width: 100%;
            height: 1rem;
            background-color: #33333327;
            border-radius: 1rem;
            margin: 1rem 0;
            .progress {
                width: 50%;
                height: 100%;
                background-color: #27b5e6;
                border-radius: 1rem;
            }
        }
        .button {
            color: #fff;
            border-radius: 0.5rem;
            cursor: pointer;
            transition: 0.3s;

            input {
                margin-left: 0;
                background-color: transparent;
                border: black solid 1px;
                border-radius: 4px;
                padding: 0.2rem 1rem;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.05) translateY(-1px);
                    box-shadow: 0 5px 15px #00000050;
                }
            }
            button {
                background-color: #27b5e6;
                border: none;
                color: #fff;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: 0.3s;
                &:hover {
                    transform: scale(1.05) translateY(-1px);
                    box-shadow: 0 5px 15px #00bcd450;
                }
            }
        }
    }
}

main {
    width: 100%;
    ul {
        width: 100%;
        li {
            margin: 12px auto;
            display: flex;
            justify-content: start;
            align-items: center;
            border: solid 3px #333333;
            border-radius: 0.5rem;
            width: 80%;
            padding: 0.5rem 1rem;
            position: relative;

            button {
                background-color: #27b6e6e1;
                border: none;
                color: #fff;
                padding: 0.5rem 1rem;
                border-radius: 0.5rem;
                cursor: pointer;
                transition: 0.3s;
                position: absolute;
                right: 0.5rem;
                &:hover {
                    transform: scale(1.05) translateY(-1px);
                    background-color: rgba(255, 0, 0, 0.726);
                    box-shadow: 0 5px 15px #d4000050;
                }
            }
            &:hover {
                transform: scale(1.05) translateY(-1px);
                background-color: rgba(30, 154, 255, 0.274);
            }
        }
    }
}

#inputs{
    display: none;
    background-color: #33333331;
    width: 100%;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 100px;
    // bottom: -100px;
    text{
        font-size: 1.2rem;
        font-weight: 600;
        color: #333;
    }
    input {
        font-size: 1.2rem;
        width: 50%;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: solid 3px #333333;
        margin: 1rem 0.5rem;
    }
    button{
        font-size: 1.2rem;
        width: 20%;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        border: solid 3px #333333;
        margin: 1rem 0.5rem;
    }
}

footer {
    background-color: #33333331;
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 0;
    gap: 5%;
    .complited {
        font-size: clamp(1rem, 10vw, 2rem);
        font-weight: 600;
        background-color: #27b5e6;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: none;
        &:hover {
            transform: scale(1.05) translateY(-1px);
            background-color: rgba(255, 0, 0, 0.726);
            box-shadow: 0 5px 15px #d4000050;
        }
    }
    .add {
        font-size: clamp(1.5rem, 2.5vw, 4rem);
        font-weight: 600;
        background-color: #27b5e6;
        border-radius: 50px;
        height: 4rem;
        width: 12rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: none;
        &:hover {
            transform: scale(1.05) translateY(-1px);
            background-color: rgba(255, 0, 0, 0.726);
            box-shadow: 0 5px 15px #d4000050;
        }

    }
    .remaning {
        font-size: clamp(1rem, 10vw, 2rem);
        font-weight: 600;
        background-color: #e66427;
        border-radius: 50%;
        height: 4rem;
        width: 4rem;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        border: none;
        &:hover {
            transform: scale(1.05) translateY(-1px);
            background-color: rgba(255, 0, 0, 0.726);
            box-shadow: 0 5px 15px #d4000050;
        }

    }
}



